@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: transparent !important;
  box-sizing: border-box;
}

body {
  @apply min-h-screen bg-gradient-to-br from-blue-400 via-indigo-300 to-purple-200 bg-no-repeat bg-fixed;
  box-sizing: border-box;
}

.animate-slideup {
  opacity: 0;
  transform: translateY(40px);
  animation: slideup 0.6s cubic-bezier(0.4,0,0.2,1) forwards;
}
@keyframes slideup {
  to {
    opacity: 1;
    transform: none;
  }
}
